@media only screen and (max-width: 800px) {
    .intro_section1 .copyright {
        display:none;
    }
    .sns_section {
        display:none;
    }
    .intro_section1 .logo {
        top: 28px;
        left: 22px;
        position:relative;
    }
    .intro_section1 .logo img {
        width:60px;
    }
    .intro_section1 .main_title {
        top: 50%;
        left: 0%;
        margin-top: -24vw;
        font-size:9.5vw;
        height: 200px;
        margin-left:5vw;
        text-align: center;
        line-height: 14vw;
        position: relative;
    }
    .intro_section1 .sub_title {
        width: 100%;
        top:50%;
        left:0%;
        font-size: 12px;
        margin-left: 2vw;
        margin-top: 15vw;
        text-align: center;
    }
    .intro_section1 .site_title{
        left:20px;
        bottom:20px;
        font-size:14px;
    }
    .intro_section2 {
        padding-left: 70px;
        padding-right: 0px;
        margin-top: -50px;
    }
    .intro_section2 img {
        width: 100%;
    }
    ul {
        margin:0px;
    }
    .sns_section {
        position: absolute;
        bottom:inherit;
        left:inherit;
        top:26px;
        right:20px;
    }
    .sns_section .sns_deco {
        display:none;
    }
    .sns_section ul li {
        font-weight: 800;
        font-size: 17px;
        display: inline-block;
        margin-left:20px;
        vertical-align: middle;
    }
}